.tabs-container + .toolbar {
  border-top: 0;
}

.toolbar {
  align-items: center;
  background-color: $ui-gray-010;
  border-top: $base-border;
  display: flex;
  height: 44px;
  justify-content: space-between;
  overflow-x: auto;

  &::-webkit-scrollbar {
    border-bottom: $base-border;
    height: $spacing-xxs;
  }

  &::-webkit-scrollbar-thumb {
    background: $ui-gray-300;
    border-radius: $spacing-xxs;
  }

  @include from($mobile) {
    padding: 0 $spacing-xxs;
  }

  .input {
    min-width: 160px;
  }
}

.toolbar-filters,
.toolbar-actions {
  align-items: center;
  display: flex;
  flex: 1;
  white-space: nowrap;

  & > * {
    margin: 0 $spacing-xxs;
  }
}

.toolbar-filters + .toolbar-actions {
  @include until($mobile) {
    border-left: $base-border;
    margin-left: $spacing-xs;
    padding-left: $spacing-xs;
  }
}

.toolbar-actions {
  @include from($mobile) {
    justify-content: flex-end;
  }
}

.toolbar-button {
  @extend .button;
  @extend .is-ghost;
  @extend .has-icon-right;
  background-color: $ui-gray-050;
  border: 0;
  color: $black;

  &:hover {
    background-color: $ui-gray-100;
    border: 0;
    color: $blue;
  }

  &:active {
    box-shadow: none;
  }
}

.toolbar-separator {
  border-right: $light-border;
  height: 32px;
  margin: 0 $spacing-xs;
  width: 0;
}
